[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "extern/DirectXTK"]
	path = extern/DirectXTK
	url = https://github.com/microsoft/DirectXTK
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/assimp/assimp-repo"]
	path = extern/assimp/assimp-repo
	url = https://github.com/IvoStoilov/assimp
